<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="drinkFlavors" type="Configuration.DrinkFlavorsSection, Configuration"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <drinkFlavors>
    <Flavors>
      <Flavor name="Pumpkin Spice Latte" seasonal="true" />
      <Flavor name="White Chocolate Mocha" seasonal="false" />
      <Flavor name="Vanilla Latte" seasonal="false" />
    </Flavors>
  </drinkFlavors>
</configuration>